$panel-size: 500px;
$panel-padding: 5px;
$panel-work-area: $panel-size - 2 * $panel-padding;

$component-padding-x: 4px;
$component-padding-y: 2px;

$success-color: green;
$error-color: red;
$waring-color: #d49e00;

@mixin with-padding {
  padding: $component-padding-y $component-padding-x;
}

%table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 6px auto 0;

  td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    @include with-padding
  }
}
